#main-menu {

	margin: 0em;
	padding: 0em;
	list-style-type: none;
	background-color: #006caa;
}

#main-menu > li {

	display: inline-block;
	padding: 1em .5em;
}

#main-menu > li > a {

	text-decoration: none;
	color: white;
	background-color: #006caa;
	font-weight: bold;
	padding: .5em 1em;
}

#main-menu > li > a:hover {

	background-color: #0098f2;
}