form {

	padding: 1em;
	margin: 0em auto;
}

form .form-row {

	position: relative;
	padding: .25em;
	text-align: center;
	width: 450px;
	max-width: 100%;
	margin: auto;
}

form label {

	width: 110px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding: .15em;
}

form input {

	padding: .25em;
	margin: .15em;
	width: 300px;
}

form select {

	padding: .25em;
	margin: .15em;
	width: 300px;
	cursor: pointer;
}

form textarea {

	padding: .25em;
	margin: .15em;
	width: 300px;
}

form .submit-container {

	padding: 1em;
}

#include-option-container {

	position: absolute;
	right: -1.75em;
	top: .5em;
}

#include-option-container button {

	padding: .5em 1em;
}

#relative-path-button {

	position: absolute;
	right: -1.6em;
	top: .15em;
	padding: .5em 1em;
}