.applications {

	padding: 1em 0em;
}

.application {

	padding-bottom: 1em;
}

.application > div {

	text-align: center;
}

#html-to-plain-text-converter {

	display: inline-block;
	text-align: center;
	width: 260px;
}

.info {
	
	display: inline-block;
	padding: .25em;
	border: 1px solid lightgrey;
}

.info .title {

	background-color: #005587;
	color: white;
	font-weight: bold;
	padding: .25em;
}